html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Comment this out when finished with site*/
div {
  border: 1px solid green;
}

/*Logo*/
.logo {
  background-color: black;
}

.logo-content {
  display: flex;
  align-items: center;
}

.logo-content img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;

}

.logo-content span {
  /*color: white;
  font-family: Helvetica;*/
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

/*Main banner*/
.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner-content {
  width: 20rem;
  background-color: black;
  margin-top: 9rem;
}

.banner-content span {
  display: block;
}

#new {
  /*font-family: Helvetica;*/
  font-size: 1rem;
  font-weight: bold;
  /*color: white;*/
  margin-top: 2rem;
  margin-left: 3rem;
}

#items {
  /*font-family: Helvetica;*/
  font-size: 2rem;
  font-weight: bold;
  /*color: white;*/
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

/*Navigation*/
.navigation {
  background-color: firebrick;
}

li {
  display: inline-block;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

/*Main Content*/

.product-grid {
  display: flex;
  /*max-width: 960px;
  margin: 0 auto;*/
  justify-content: space-between;
  /*width: 30%;*/
}

#pen img {
  height: 9rem;
  width: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#pen span {
  background-color: black;
}

#pen {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
}

#watch img {
  height: 9rem;
  /*width: 100%;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#watch span {
  background-color: black;
}

#watch {
  display: flex;
  flex-direction: column;
  width: 30%;
  /*height: auto;*/
}

#glasses img {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#glasses span {
  background-color: black;
}

#glasses {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
}

#location {
  background-color: black;
}

#hours {
  background-color: black;
}
