html {
  font-size: 18px;
}

.site-container {
  width: 960px;
}

/*Comment this out when finished with site*/
div {
  border: 1px solid green;
}

/*Logo*/
.logo {
  background-color: black;
  /*width: 100%;*/
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo span {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

/*Main banner*/
.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner-content {
  width: 20rem;
  background-color: black;
  margin-top: 9rem;
}

.banner-content span {
  display: block;
}

#new {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  margin-left: 3rem;
}

#items {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
